body {
  background-image: eiffelbuilt.jpg;
}

a {
  margin: 23m auto 4em auto;
  display: table;
  color: white;
  font-family: "arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: black
}
