body {
  background-color: black;
  background-image: url("images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  display: block;
}

h1 {
  width: 90%;
  color: black;
  font-family: "Georgia", serif;
  font-size: 300%;
  padding-top: 10%;
  margin-left: 10%;
}

p {
  width: 50%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
}

.eiffelbuilt {
  width: 30%;
  float: right;
  margin-top: 10%;
  border: 2px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a {
  margin: 23em auto 4em auto;
  display: table;
  color: white;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
  border-radius: 12px;
  border: 2px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a:hover {
  background-color: darkred;
}

a:active {
  background-color: red;
}
