body {
  background-image: url(“images/background.jpg”);
}

h1 {
  width: 90%;
  margin-right: auto;
  margin-bottom: auto;
  color: #0000FF;
  font-family: "Arial", sans-serif;
  font-size: 72px;
  text-align: left;
}

p {
  width: 50%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
}

a {
  margin: 23em auto 4em auto;
  display: table;
  color: white;
  font-family: "arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
}
